main {
    margin-top: 100px;
}

.card {
    width: 150px;
    height: 125px;
    margin: 0 auto;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(104,0,255,1) 100%); 
    border-radius: 8px;
    z-index: 1;
}
   
.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}
   
.circle {
    padding: 0 4px;
}
   
.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}
   
.red {
    background-color: firebrick;
}
   
.yellow {
    background-color: gold;
}
   
.green {
    background-color: #00ca4e;
}

.cardContent {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 18px;
}
   
.copyright-footer {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 100px;
}